.nav{
    float:left;
    width: 100%;
}

.title{
    font-size: 150px;
    text-align: center;
}

#itemArea{
    float: left;
    width: 100%;
}

.img-fluid {
    max-width: 40%;
}

.card-body {
    width: 28%;
    float: left;
    margin-left: 25px;
}